<div class="static-side-bar">
    <!-- This first div came from the navbar.component.html -->
    <div class="jh-logo-container">
        <!-- TODO: Add the route to the homepage when clicking the app logo image -->
        <a href="#">
            <span class="navbar-title">
                <img style="margin: 20px;" src="../../../content/images/logo-jhipster.png" alt="../../../content/images/logo-jhipster.png">
            </span>
        </a>
    </div>
    <!-- Dividing line between menu and logo -->
    <hr style="background-color: white; width: 80%; height: 1px">

    <div class="projects-list">
        <!-- TODO: add toggle button to toggle showing ul list below -->
        <label>Projects</label>
        <a href="#">
            <button type="button">+</button>
        </a>

        <!-- TODO: Use ul to store list of project objects. List items to be inserted via *ngFor directive dynamically from list of projects -->
        <ul>
        </ul>
    </div>

    <div class="team-list">
        <label>Team</label>

        <!-- TODO: Use ul to store list of project member names. List items to be inserted via *ngFor directive dynamically from list of team members in a project -->
        <ul>
        </ul>
    </div>

    <div class="discussions">
        <label>Discuss</label>
    </div>

    <div class="account">
        <!-- TODO: Add the route to account settings page later -->
        <a href="#">
            <button class="account-settings" type="button" style="background-color: transparent">
                Account Settings
            </button>
        </a>
    </div>

    <div class="project">
        <!-- TODO: Add the route to project settings page later -->
        <a href="#">
            <button class="project-settings" type="button" style="background-color: transparent">
                Profile Settings
            </button>
        </a>
    </div>
</div>
